@charset 'utf-8';

// color
$color-text: #444;
$color-primary: #00a29a;
$color-primary--light: #3dd0c9;
$color-secondary: #b9aa56;
$color-thread: #e2e2e2;


// layout
$width : 980px;

// font size
$fs-base: 62.5%;
$fs-ll: 3.0rem;
$fs-l: 2.1rem;
$fs-m: 1.8rem;
$fs-s: 1.4rem;
$fs-xs: 1.1rem;

// $fs-ie-ll: 30px;
// $fs-ie-l: 21px;
// $fs-ie-m: 18px;
// $fs-ie-s: 14px;
// $fs-ie-xs: 11px;